In [9]:
print("Colab is ready for data cleaning!")

Colab is ready for data cleaning!

In [30]:
import pandas as pd
df = pd.read_csv('/content/airtravel.csv')
df.head()

  Month   "1958"   "1959"   "1960"
0   JAN      340      360      417
1   FEB      318      342      391
2   MAR      362      406      419
3   APR      348      396      461
4   MAY      363      420      472

In [18]:
df.shape

(12, 4)

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Month    12 non-null     object
 1    "1958"  12 non-null     int64
 2    "1959"  12 non-null     int64
 3    "1960"  12 non-null     int64
dtypes: int64(3), object(1)
memory usage: 516.0+ bytes

In [20]:
df.describe()

           "1958"      "1959"      "1960"
count   12.000000   12.000000   12.000000
mean   381.000000  428.333333  476.166667
std     64.530472   69.830097   77.737125
min    310.000000  342.000000  390.000000
25%    339.250000  387.500000  418.500000
50%    360.500000  406.500000  461.000000
75%    411.750000  465.250000  514.750000
max    505.000000  559.000000  622.000000

In [21]:
df.isna().sum()

Month      0
 "1958"    0
 "1959"    0
 "1960"    0
dtype: int64

In [22]:
df.isna().mean()*100

Month      0.0
 "1958"    0.0
 "1959"    0.0
 "1960"    0.0
dtype: float64

In [23]:
df.duplicated().sum()

np.int64(0)

In [24]:
df[df.duplicated()]

Empty DataFrame
Columns: [Month,  "1958",  "1959",  "1960"]
Index: []

In [33]:
df.columns = df.columns.str.replace('"','').str.strip()
df.columns

Index(['Month', '1958', '1959', '1960'], dtype='object')

In [26]:
df["Month"].head()

0    JAN
1    FEB
2    MAR
3    APR
4    MAY
Name: Month, dtype: object

In [31]:
df["Month"] = pd.to_datetime(df["Month"],format="%b").dt.month_name()
df["Month"]

0       January
1      February
2         March
3         April
4           May
5          June
6          July
7        August
8     September
9       October
10     November
11     December
Name: Month, dtype: object

In [34]:
df_long =  df.melt(id_vars="Month", var_name="Year", value_name="Passengers")
df_long

        Month  Year  Passengers
0     January  1958         340
1    February  1958         318
2       March  1958         362
3       April  1958         348
4         May  1958         363
5        June  1958         435
6        July  1958         491
7      August  1958         505
8   September  1958         404
9     October  1958         359
10   November  1958         310
11   December  1958         337
12    January  1959         360
13   February  1959         342
14      March  1959         406
15      April  1959         396
16        May  1959         420
17       June  1959         472
18       July  1959         548
19     August  1959         559
20  September  1959         463
21    October  1959         407
22   November  1959         362
23   December  1959         405
24    January  1960         417
25   February  1960         391
26      March  1960         419
27      April  1960         461
28        May  1960         472
29       June  1960         535
30       July  1960         622
31     August  1960         606
32  September  1960         508
33    October  1960         461
34   November  1960         390
35   December  1960         432

In [35]:
df_long["Month"] = pd.Categorical(df_long["Month"],  ["January","February","March","April","May","June",
     "July","August","September","October","November","December"],
      ordered=True)
df_long = df_long.sort_values(["Month","Year"])
df_long

        Month  Year  Passengers
0     January  1958         340
12    January  1959         360
24    January  1960         417
1    February  1958         318
13   February  1959         342
25   February  1960         391
2       March  1958         362
14      March  1959         406
26      March  1960         419
3       April  1958         348
15      April  1959         396
27      April  1960         461
4         May  1958         363
16        May  1959         420
28        May  1960         472
5        June  1958         435
17       June  1959         472
29       June  1960         535
6        July  1958         491
18       July  1959         548
30       July  1960         622
7      August  1958         505
19     August  1959         559
31     August  1960         606
8   September  1958         404
20  September  1959         463
32  September  1960         508
9     October  1958         359
21    October  1959         407
33    October  1960         461
10   November  1958         310
22   November  1959         362
34   November  1960         390
11   December  1958         337
23   December  1959         405
35   December  1960         432

In [36]:
df_long.to_csv("cleaned_airtravel.csv",index=False)